[submodule "rtsp-server/3rdpart/libb64/libb64"]
	path = rtsp-server/3rdpart/libb64/libb64
	url = https://github.com/libb64/libb64
[submodule "rtsp-server/3rdpart/uleb128"]
	path = rtsp-server/3rdpart/uleb128
	url = https://github.com/bolderflight/uleb128.git
